.list-images-container{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-column-gap: 50px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 10px;
    direction: rtl;
}
.img-item{
    width: 240px;
    height: 280px;
    margin: 15px;
    background-repeat: no-repeat;
    background-size: 240px 280px;
}

.manageImg-container{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-top: 10px;
}
.manageImg{
    cursor: pointer;
}
.listmanageImg{
    width: max-content;
    height: auto;
    background: white;
    border-radius: 5px;
    margin-top: 5px;
}
.action-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
}
.text-action{
    margin: 10px 20px 10px 0;
    color: #424242;
    font-size: 20px;
}
.img-action{
    margin-left: 15px;
    margin-right: 25px;
    display: inline;
}
.img-18px{
    height: 18px !important;
}
.img-15px{
    height: 15px !important;
}
.color-red{
    color: #FB6262;
}