.manage-images-container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    direction: rtl;
}